# Classification Attempt 1

In [30]:
import numpy as np
import pandas as pd

file=open('atLeast2535.txt')
counter = 0
count2 = 0

data = [[]for i in range(42)]
for word in file.read().lower().split():
    if word not in ['x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', '<=']:
        data[count2].append(word)
        counter += 1
        if counter%6 == 0:
            count2 += 1
           
RHS = []
for i in range(42):
    if data[i][5] not in RHS:
        RHS.append(data[i][5])
        
groupRHS = {}

for e in RHS:
    for i in range(42):
        if data[i][5] == e:
            if e not in groupRHS:
                groupRHS[e] = []
            groupRHS[e].append(data[i])

            
groupRHS
d=groupRHS
from pandas import Series
pd.DataFrame(dict([ (k,Series(v)) for k,v in d.iteritems() ]))

,-6.00000,0.00000,1.50000,16.50000,21.00000,24.00000,5.00000,9.00000
0,"[-1.00000, -1.00000, -1.00000, -1.00000, -1.00...","[-1.00000, 0.00000, 0.00000, 0.00000, 0.00000,...","[-1.00000, -1.00000, -1.00000, -1.00000, +1.50...","[+1.50000, +1.50000, +1.50000, -1.00000, -1.00...","[+1.00000, +1.00000, +1.00000, +1.00000, +1.00...","[-1.00000, +1.50000, +1.50000, +1.50000, +1.50...","[+1.00000, 0.00000, 0.00000, 0.00000, 0.00000,...","[-1.00000, -1.00000, +1.50000, -1.00000, +1.50..."
1,NaN,"[0.00000, -1.00000, 0.00000, 0.00000, 0.00000,...","[-1.00000, -1.00000, -1.00000, +1.50000, -1.00...","[+1.50000, +1.50000, -1.00000, +1.50000, -1.00...",NaN,"[+1.50000, +1.50000, +1.50000, +1.50000, -1.00...","[0.00000, +1.00000, 0.00000, 0.00000, 0.00000,...","[-1.00000, -1.00000, -1.00000, +1.50000, +1.50..."
2,NaN,"[0.00000, 0.00000, -1.00000, 0.00000, 0.00000,...","[-1.00000, +1.50000, -1.00000, -1.00000, -1.00...","[+1.50000, +1.50000, -1.00000, -1.00000, +1.50...",NaN,"[+1.50000, +1.50000, +1.50000, -1.00000, +1.50...","[0.00000, 0.00000, +1.00000, 0.00000, 0.00000,...","[-1.00000, -1.00000, +1.50000, +1.50000, -1.00..."
3,NaN,"[0.00000, 0.00000, 0.00000, -1.00000, 0.00000,...","[+1.50000, -1.00000, -1.00000, -1.00000, -1.00...","[-1.00000, +1.50000, +1.50000, -1.00000, +1.50...",NaN,"[+1.50000, -1.00000, +1.50000, +1.50000, +1.50...","[0.00000, 0.00000, 0.00000, +1.00000, 0.00000,...","[-1.00000, +1.50000, -1.00000, -1.00000, +1.50..."
4,NaN,"[0.00000, 0.00000, 0.00000, 0.00000, -1.00000,...","[-1.00000, -1.00000, +1.50000, -1.00000, -1.00...","[-1.00000, +1.50000, +1.50000, +1.50000, -1.00...",NaN,"[+1.50000, +1.50000, -1.00000, +1.50000, +1.50...","[0.00000, 0.00000, 0.00000, 0.00000, +1.00000,...","[-1.00000, +1.50000, -1.00000, +1.50000, -1.00..."
5,NaN,NaN,NaN,"[+1.50000, -1.00000, +1.50000, +1.50000, -1.00...",NaN,NaN,NaN,"[-1.00000, +1.50000, +1.50000, -1.00000, -1.00..."
6,NaN,NaN,NaN,"[+1.50000, -1.00000, +1.50000, -1.00000, +1.50...",NaN,NaN,NaN,"[+1.50000, -1.00000, +1.50000, -1.00000, -1.00..."
7,NaN,NaN,NaN,"[+1.50000, -1.00000, -1.00000, +1.50000, +1.50...",NaN,NaN,NaN,"[+1.50000, -1.00000, -1.00000, +1.50000, -1.00..."
8,NaN,NaN,NaN,"[-1.00000, -1.00000, +1.50000, +1.50000, +1.50...",NaN,NaN,NaN,"[+1.50000, -1.00000, -1.00000, -1.00000, +1.50..."
9,NaN,NaN,NaN,"[-1.00000, +1.50000, -1.00000, +1.50000, +1.50...",NaN,NaN,NaN,"[+1.50000, +1.50000, -1.00000, -1.00000, -1.00..."